.git
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
**/.pytest_cache
.mypy_cache
node_modules
**/node_modules
dist
.DS_Store
error.log
data/*.sqlite
data/*.sqlite3
data/*.db
data/*.log
ops/docker/.env
